/*
bulma_custom.scss
Owen Gallagher
28 July 2019

Configuration file for customizing the bulma css framework components before generating my css file at root/public/css/
*/

@charset "utf-8";

//customize bulma library elements

//import Nunito font
@import url('https://fonts.googleapis.com/css?family=Nunito:400,700');

//bulma global variables
$family-sans-serif: "Nunito", sans-serif;

//bulma component variables


//import only needed components from bulma

@import "./bulma/utilities/_all.sass";
@import "./bulma/base/_all.sass";
@import "./bulma/elements/button.sass";
@import "./bulma/elements/container.sass";
@import "./bulma/elements/title.sass";
@import "./bulma/elements/box.sass";
@import "./bulma/elements/image.sass";
@import "./bulma/form/_all.sass";
@import "./bulma/components/navbar.sass";
@import "./bulma/components/card.sass";
@import "./bulma/layout/section.sass";
@import "./bulma/grid/tiles.sass";
@import "./bulma/grid/columns.sass";

//custom classes
.puzzle-canvas {
	display:block; //enable max-{width,height} attributes
	max-height:100%; //prevent from overflowing parent, which would leapfrog
}