<div class="bg-slight">
	<div class="container-fluid p-3">
		<div class="row">
			<div class="col font-navigation clickable" data-toggle="collapse" data-target="#footer_license_details">
		        <img class="bg-transparent mr-1" style="width:18px;height:18px;margin-bottom:4px;" 
					src="https://mirrors.creativecommons.org/presskit/icons/cc.svg" alt="creative commons"/>
				<span class="my-auto text-dark">
					2020 Owen Gallagher
				</span>
			    <div id="footer_license_details" class="collapse">
			        All content on this site is provided according to the
			        <a rel="license" href="https://creativecommons.org/licenses/by-sa/4.0">CC BY-SA</a>
			        creative commons license unless otherwise specified.
				</div>
			</div>
		</div>
	</div>
</div>
