<div class="container-fluid">
	<div class="row py-3 bg-slight">
		<div class="col-lg font-navigation clickable" data-toggle="collapse" data-target="#footer_license_details">
	        <img class="bg-transparent mr-1" style="width:18px;height:18px;margin-bottom:4px;" 
				src="https://mirrors.creativecommons.org/presskit/icons/cc.svg" alt="creative commons"/>
			<span class="my-auto text-dark text-bold-hover font-navigation-md">
				2020 Owen Gallagher
			</span>
		    <div id="footer_license_details" class="collapse">
		        All content on this site is provided according to the
		        <a rel="license" href="https://creativecommons.org/licenses/by-sa/4.0">CC BY-SA</a>
		        creative commons license unless otherwise specified.
			</div>
		</div>
		<div class="col-lg-8 font-navigation clickable" data-toggle="collapse" data-target="#footer_terms">
			<span class="my-auto text-dark text-bold-hover font-navigation-md">
				Terms
			</span>
			<div id="footer_terms" class="collapse mt-2">
				<strong class="mb-2">
					We reserve the right to:
				</strong>
				<p>
					<span class="text-copper">Change account usernames.</span> In the event that existing content in the public domain or with proper permission 
					is available from an author that doesn’t have a Textiles Journal account, that work may be added to the site. 
					In this case, that author will be assigned a blank user account to which to attribute the work. If another user 
					has registered that account, they will be assigned a new username and receive an email notification. If the user 
					dislikes the assigned username, they can request an alternative by sending an email to
					<a href="mailto:contact@textilesjournal.org">contact@textilesjournal.org</a>.
				</p>
				<p>
					<span class="text-copper">Remove uploaded works deemed unfit for publishing on our site</span> (this includes offensive content, and content 
					that violates copyright, for example).
				</p>
				<strong class="mb-2">
					We cannot:
				</strong>
				<p>
					<span class="text-copper">View any account passwords</span>; they’re stored in the database as indecipherable hashes.
				</p>
				<p>
					<span class="text-copper">Determine the author of works uploaded and attributed to “anonymous”</span>; no user account data is tied to a work 
					other than the attributed author name.
				</p>
				<p>
					<span class="text-copper">Violate the license</span> assigned to uploaded contributions.
				</p>
			</div>
		</div>
	</div>
</div>