<div id="help_modal" class="modal fade" tabindex="-1" role="dialog">	
	<div class="modal-dialog modal-dialog-centered modal-lg" role="document">
		<div class="modal-content border-0 rounded-0">
			<div class="modal-header text-center font-title-xl text-light bg-olive-dark rounded-0">
				Textile Instructions
			</div>
			<div class="modal-body text-justify px-5 pt-2 pb-0 bg-slight font-navigation-lg">
				<p>
					Move the shapes around until you find their correct places by dragging them.
				</p>
				<hr>
				<p>
					Pan around the textile by dragging the solid background.
				</p>
				<hr>
				<p>
					Tap/click to pause.
				</p>
				<hr>
				<p>
					Double tap/click to change zoom. Generally, zoom in to better read the text, and zoom 
					out to see the picture of how the shapes fit together.
				</p>
				<hr>
				<p>
					The revealed text behind the shapes will be a clue as to where the shapes should go.
				</p>
				<hr>
				<p>
					No one said it would be easy... so good luck!
				</p>
			</div>
			<div class="modal-footer bg-slight border-top-0">
				<button class="btn btn-outline-dark font-navigation-md" data-dismiss="modal">
					OK, I'm Ready
				</button>
			</div>
		</div>
	</div>
</div>