<div id="login_modal" class="modal fade" tabindex="-1" role="dialog">
	<script>
		let login = true
		let register = false
		
		//toggle login/register buttons
		function toggle_login_register(button) {
			if (button == 'login') {
				login = true
				$('#login_button').removeClass('btn-light').addClass('btn-dark')
				$('#register_button').removeClass('btn-dark').addClass('btn-light')
				$('#email_group').hide()
			}
			else {
				login = false
				$('#register_button').removeClass('btn-light').addClass('btn-dark')
				$('#login_button').removeClass('btn-dark').addClass('btn-light')
				$('#email_group').show()
			}
			
			register = !login
		}
		
		//submit form
		function submit_login_register() {
			if (register) {
				console.log('TODO create new account and send confirmation email')
			}
			else if (login) {
				console.log('TODO log into existing account')
			}
		}	
	</script>
		
	<div class="modal-dialog" role="document">
		<div class="modal-content border-0 rounded-0">
			<div class="modal-header text-center font-title-xlg text-light bg-dark rounded-0">
				Welcome aboard!
			</div>
			<div class="modal-body text-left bg-slight">
				<form class="font-content-lg">
					<div class="form-group text-right">
						<div class="btn-group" role="group">
						  <button id="login_button" type="button" class="btn btn-dark font-navigation-md" onclick="toggle_login_register('login');">Login</button>
						  <button id="register_button" type="button" class="btn btn-light font-navigation-md" onclick="toggle_login_register('register');">Register</button>
						</div>
					</div>
					<div class="form-group">
						<label for="username_input">Username</label>
						<input type="text" class="form-control font-content-lg" id="username_input" placeholder="call me... username">
					</div>
					<div class="form-group">
						<label for="password_input">Password</label>
						<input type="password" class="form-control font-content-lg" id="password_input" placeholder="P455w0Rd">
					</div>
					<div id="email_group" class="form-group" style="display:none;">
						<label for="email_input">Email</label>
						<input type="text" class="form-control font-content-lg" id="email_input" placeholder="someone@somewhere.com" aria-describedby="email_help">
						<small id="email_help" class="form-text text-muted text-center">We'll send you a confirmation email to activate your account.</small>
					</div>
				</form>
			</div>
			<div class="modal-footer text-center font-navigation-lg bg-slight border-top-0">
				<button type="button" class="btn btn-outline-dark font-navigation-md" data-dismiss="modal">Submit</button>
			</div>
		</div>
	</div>
</div>