<nav class="navbar navbar-expand-md navbar-light bg-light" id="common_navbar">
    <!--points to top of current page-->
    <a class="navbar-brand text-black font-title-xlg" href="index.html">
        TEXTILES
    </a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar_navigation" aria-controls="navbar_navigation" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon text-light"></span>
    </button>
    
    <div class="collapse navbar-collapse" id="navbar_navigation">
        <span class="navbar-nav mr-auto" id="navbar_spacer"></span>
        <div class="flex-column justify-content-center">
            <ul class="form-inline my-auto">
                <a id="nav_contact" class="btn btn-outline-dark font-navigation ml-2 my-1" role="button" href="contact.html">CONTACT</a>
                <a id="nav_about" class="btn btn-outline-dark font-navigation ml-2 my-1" role="button" href="about.html">ABOUT</a>
                <a id="nav_contribute" class="btn btn-outline-dark font-navigation ml-2 my-1" role="button" href="contribute.html">CONTRIBUTE</a>
                <a id="nav_gallery" class="btn btn-outline-dark font-navigation ml-2 my-1" role="button" href="gallery.html">GALLERY</a>
                <a id="nav_account" class="btn btn-outline-dark font-navigation ml-2 my-1" role="button" href="account.html">ACCOUNT</a>
            </ul>
        </div>
    </div>
</nav>
