<div id="win_screen" class="overlap-1-center w-75 h-75 bg-slight-transparent p-3 font-navigation-md text-center rounded" style="display:none;">
	<div class="text-right overlap-1-right p-2">
		<button id="win_screen_close" class="btn text-raspberry-hover">
			<span class="oi oi-x"></span>
		</button>
	</div>
	<div class="d-flex flex-column justify-content-center" style="height:100%;">
		<h1 class="font-title text-uppercase text-copper">
			Solved!
		</h1>
		<p class="font-navigation-lg">
			Solve time: <span id="solve_time" class="text-copper">#s</span>
		</p>
		<p class="font-italic">
			But, of course, speed isn't everything.
			<br>
			What'd you think? <span class="text-copper">Give it a rating!</span>
		</p>
		<div id="login_play_toast_container" class="row justify-content-center" style="display:none;">
			<div id="login_play_toast" class="col-auto toast bg-light text-raspberry">
				<div class="toast-body">
					<div class="row">
						<div class="col my-auto">
							Log in or register to save your score!
						</div>
						<div class="col-auto">
							<button class="btn btn-sm text-raspberry-hover text-dark-nohover" data-dismiss="toast">
								<span class="oi oi-x"></span>
							</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>