<div class="col-lg-4 col-md-6 p-2 work-tile">
	<div class="card p-0 clickable lift-hover editable work-tile-card" data-editing="false">
		<div class="card-header border-0">
			<div class="font-title-xlg text-uppercase work-tile-title text-dark-nohover text-copper-hover" data-toggle="collapse" data-target="tbd">
			</div>
			<div class="collapse work-tile-license-collapse" id="tbd">
				<a rel="license" class="work-tile-license font-navigation" 
					href="https://creativecommons.org/licenses/by-sa/4.0">
				</a>
			</div>
		</div>
		<div class="card-body border-0 text-justify font-content-md font-legible work-tile-card-body" data-toggle="collapse" data-target="tbd">
			<div class="work-tile-text-collapse collapse" id="tbd">
				<div class="work-tile-text text-dark">
				</div>
				<hr>
			</div>
			<i class="work-tile-description text-secondary">
			</i>
		</div>
		<div class="card-footer border-0 font-navigation">
			<div class="row work-tile-fragments">
				<div class="col">
					This work has not been used in any published textiles yet.
				</div>
			</div>
		</div>
	</div>
</div>