<div class="col-lg-4 col-md-6 p-2 work-tile">
	<div class="card p-0 clickable lift-hover editable" data-editing="false">
		<div class="card-header border-0">
			<div class="font-title-xlg text-uppercase work-tile-title text-dark-nohover text-copper-hover" data-toggle="collapse" data-target="tbd">
			</div>
			<div class="collapse work-tile-license-collapse" id="tbd">
				<a class="work-tile-license font-navigation" 
					href="https://meta.wikimedia.org/wiki/Open_Content_-_A_Practical_Guide_to_Using_Creative_Commons_Licences/The_Creative_Commons_licencing_scheme">
				</a>
			</div>
		</div>
		<div class="card-body border-0 text-justify font-content-md font-legible">
			<i class="work-tile-description text-secondary">
			</i>
			<div class="work-tile-text text-dark">
			</div>
		</div>
		<div class="card-footer border-0 font-navigation">
			This is a list of appearances in textiles; each is a button link to the its corresponding textile
			page.
		</div>
	</div>
</div>