/*
style.css

Owen Gallagher
28 July 2019

Main style sheet for Revista Tejos and Textiles Journal.

DEPENDENCIES
bootstrap

*/

/* 

Import font families from Google Fonts. 

titles = font-family: 'Poiret One', cursive;
navigation = font-family: 'Lato', sans-serif;
content = font-family: 'Darker Grotesque', sans-serif;

*/
@import url('https://fonts.googleapis.com/css?family=Darker+Grotesque|Lato:300|Poiret+One&display=swap');


/* 

Custom classes 

*/
.font-title-lg {
	font-family: 'Poiret One', cursive;
	font-size: xx-large;
}
.font-title-md {
	font-family: 'Poiret One', cursive;
	font-size: large;
}
.font-navigation {
	font-family: 'Lato', sans-serif;
	font-size: medium;
}
.font-content {
	font-family: 'Darker Grotesque', sans-serif;
	font-size: medium;
}

.puzzle-canvas {
  display: block;
  max-height: 100%; 
}

/*

id-specific styles

*/
