/*
style.css

Owen Gallagher
28 July 2019

Main style sheet for Revista Tejos and Textiles Journal.

DEPENDENCIES
bootstrap

*/

/* 

Import font families from Google Fonts. 

titles = font-family: 'Poiret One', cursive;
navigation = font-family: 'Lato', sans-serif;
content = font-family: 'Darker Grotesque', sans-serif;

*/
@import url('https://fonts.googleapis.com/css?family=Darker+Grotesque|Lato:300|Poiret+One&display=swap');

/*

overrides

*/

a.disabled {
  cursor: default;
}

/* 

Custom classes 

*/

.font-title-xlg {
	font-family: 'Poiret One', cursive;
	font-size: xx-large;
}
.font-title-lg {
	font-family: 'Poiret One', cursive;
	font-size: x-large;
}
.font-title-md {
	font-family: 'Poiret One', cursive;
	font-size: large;
}
.font-title {
	font-family: 'Poiret One', cursive;
}

.font-navigation-lg {
	font-family: 'Lato', sans-serif;
	font-size: x-large;
}
.font-navigation-md {
	font-family: 'Lato', sans-serif;
	font-size: large;
}
.font-navigation {
	font-family: 'Lato', sans-serif;
}

.font-content-lg {
	font-family: 'Darker Grotesque', sans-serif;
	font-size: x-large;
}
.font-content-md {
	font-family: 'Darker Grotesque', sans-serif;
	font-size: large;
}
.font-content-sm {
	font-family: 'Darker Grotesque', sans-serif;
	font-size: medium;
}
.font-content {
	font-family: 'Darker Grotesque', sans-serif;
}

.puzzle-canvas {
	display: block;
	max-height: 100%;
}

.bg-olive {
	background-color: #457E62;
}
.bg-olive-dark {
	background-color: #294939; /* contact page */
}
.bg-sand {
	background-color: #F0EEB6;
}
.bg-lychee {
	background-color: #E3F4CF;
}
.bg-copper {
	background-color: #7A780E; /* contribute page */
}
.bg-raspberry {
	background-color: #8A2E60; /* account page */
}
.bg-raspberry-light {
	background-color: #CE89AF;
}
.bg-peach {
	background-color: #AA7639;
}
.bg-sea {
	background-color: #2B4C6F; /* about page */
}

.bg-slight {
	background-color: #dddddd;
}
.bg-slight-hover:hover {
	background-color: #dddddd;
}

.bg-primary-nohover {
	background-color: #007bff;
}
.bg-dark-nohover {
	background-color: #343a40;
}

.bg-secondary-hover:hover {
	background-color: #6c757d;
}

.bg-dark-hover:hover {
	background-color: #343a40;
}

.bg-light-hover:hover {
	background-color: #f8f9fa;
}

.bg-copper-hover:hover {
	background-color: #7A780E;
}

.text-light-hover {
	color: transparent;
}
.text-light-hover:hover {
	color: #f8f9fa;
}

.text-dark-nohover {
	color: #343a40;
}
.text-dark-hover:hover {
	color: #343a40;
}

.text-secondary-nohover {
	color: #6c757d;
}
.text-secondary-hover:hover {
	color: #6c757d;
}

.text-raspberry {
	color: #8A2E60; /* account page */
}
.text-olive-dark {
	color: #294939; /* contact page */
}
.text-copper {
	color: #7A780E; /* contribute page */
}
.text-copper-hover:hover {
	color: #7A780E;
}
.text-sea {
	color: #2B4C6F; /* about page */
}

.border-copper {
	border-width: 1px;
	border-color: #7A780E;
}

.layers-container {
	position: relative;
}

.overlap-1-left {
	z-index: 1;
	position: absolute;
	top: 0%;
	left: 0%;
	height: 100%;
}

.overlap-1-right {
	z-index: 1;
	position: absolute;
	top: 0%;
	right: 0%;
	height: 100%;
}

.overlap-1-center {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 50%;
  height: 50%;
  transform: translate(-50%, -50%);
}

.clickable {
	cursor: pointer;
}

.unselectable {
	-moz-user-select: -moz-none;
	-khtml-user-select: none;
	-webkit-user-select: none;
   
	/*
	Introduced in IE 10.
	See http://ie.microsoft.com/testdrive/HTML5/msUserSelect/
	*/
	-ms-user-select: none;
	user-select: none;
}

.lift-hover:hover {
	box-shadow: 2px 2px 3px #6c757d;
	margin-right: 4px;
	margin-bottom: 4px;
	margin-left: -4px;
	margin-top: -4px;
}

.editable[data-editing="true"] {
	/*
	required mention to enable attribute and pseudo
	selectors simultaneously. See https://stackoverflow.com/a/8988418/10200417
	*/
	cursor: pointer;
	border-width: 1px;
	border-color: transparent;
	border-style: solid;
}
.editable[data-editing="true"]:hover {
	border-color: #294939;
	background-color: #457E62;
}

/* container for profile photos */
.avatar {
	max-width: 460px;
	max-height: 460px;
}

/* xs */
@media (max-width: 575px) {
	.avatar {
		width: 100%;
	}
}

/* sm */
@media (min-width: 576px) { 
	.avatar {
		width: 200px;
		height: 200px;
	}
}

/* md */
@media (min-width: 768px) {
	.avatar {
		width: 256px;
		height: 256px;
	}
}

/* lg */
@media (min-width: 992px) {
	.avatar {
		width: 300px;
		height: 300px;
	}
}

/* xl */
@media (min-width: 1200px) {
	.avatar {
		width: 350px;
		height: 350px;
	}
}

/*

id-specific styles

*/
