/* override elements */

ul {
	list-style-type: none;
	list-style-position: outside;
}

li span {
	margin-left: 8px;
}

/* custom classes */
/* fonts */
.font-title-xlg {
	font-family: 'Poiret One', 'Trebuchet MS', cursive;
	font-size: xx-large;
}
.font-title-lg {
	font-family: 'Poiret One', 'Trebuchet MS', cursive;
	font-size: x-large;
}
.font-title-md {
	font-family: 'Poiret One', 'Trebuchet MS', cursive;
	font-size: large;
}
.font-title {
	font-family: 'Poiret One', 'Trebuchet MS', cursive;
}

.font-navigation-lg {
	font-family: 'Lato', sans-serif;
	font-size: x-large;
}
.font-navigation-md {
	font-family: 'Lato', sans-serif;
	font-size: large;
}
.font-navigation {
	font-family: 'Lato', 'Verdana', sans-serif;
}

.font-content-lg {
	font-family: 'Darker Grotesque', sans-serif;
	font-size: x-large;
}
.font-content-md {
	font-family: 'Darker Grotesque', sans-serif;
	font-size: large;
}
.font-content-sm {
	font-family: 'Darker Grotesque', sans-serif;
	font-size: medium;
}
.font-content {
	font-family: 'Darker Grotesque', 'Helvetica', sans-serif;
}

/* colors */
.bg-olive {
	background-color: #457E62;
}
.bg-olive-dark {
	background-color: #294939; /* contact page */
}
.bg-sand {
	background-color: #F0EEB6;
}
.bg-lychee {
	background-color: #E3F4CF;
}
.bg-copper {
	background-color: #7A780E; /* contribute page */
}
.bg-raspberry {
	background-color: #8A2E60; /* account page */
}
.bg-raspberry-light {
	background-color: #CE89AF;
}
.bg-peach {
	background-color: #AA7639;
}
.bg-sea {
	background-color: #2B4C6F; /* about page */
}

.bg-slight {
	background-color: #DDDDDD;
}
.bg-slight-hover:hover {
	background-color: #DDDDDD;
}

.bg-primary-nohover {
	background-color: #007bff;
}
.bg-dark-nohover {
	background-color: #343a40;
}

.bg-secondary-hover:hover {
	background-color: #6c757d;
}

.bg-dark-hover:hover {
	background-color: #343a40;
}

.bg-light-hover:hover {
	background-color: #f8f9fa;
}

.text-light-hover {
	color: transparent;
}
.text-light-hover:hover {
	color: #f8f9fa;
}

.text-dark-nohover {
	color: #343a40;
}
.text-dark-hover:hover {
	color: #343a40;
}

.text-secondary-nohover {
	color: #6c757d;
}
.text-secondary-hover:hover {
	color: #6c757d;
}

.text-raspberry {
	color: #8A2E60;
}
.text-raspberry-light {
	color: #CE89AF;
}